.left{
    text-align: left;
    padding: 10px;
}

.wrapper{
    width: 80%;
    margin: auto;
    height: calc(100vh - 100px);
}

.options{
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

a{
    padding: 1rem;
    width: 100px !important;
    height:100px !important ;
    text-decoration: none;
}

button{
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-icon{
    margin: 0 !important;
}