<div class="wrapper">
    <h3 class="left">Components</h3>
    <mat-divider></mat-divider>
    <div class="options">
        <a mat-stroked-button routerLink="/buttons">
            <button>
                <mat-icon>home</mat-icon>
                Buttons
            </button>
        </a>
        <a mat-stroked-button routerLink="/toggle">
            <button>
                <mat-icon>toggle_on</mat-icon>
                Toggles
            </button>
        </a>
        <a mat-stroked-button routerLink="/toggle">
            <button>
                <mat-icon>toggle_on</mat-icon>
                Toggles
            </button>
        </a>
        <a mat-stroked-button routerLink="/toggle">
            <button>
                <mat-icon>toggle_on</mat-icon>
                Toggles
            </button>
        </a>
        <a mat-stroked-button routerLink="/toggle">
            <button>
                <mat-icon>toggle_on</mat-icon>
                Toggles
            </button>
        </a>
        <a mat-stroked-button routerLink="/toggle">
            <button>
                <mat-icon>toggle_on</mat-icon>
                Toggles
            </button>
        </a>
        <a mat-stroked-button routerLink="/toggle">
            <button>
                <mat-icon>toggle_on</mat-icon>
                Toggles
            </button>
        </a>
    </div>
</div>