<div class="wrapper">
    <h3 class="left">Buttons</h3>
    <mat-divider></mat-divider>
    <div class="options">
        <div class="row">
            <mat-card>
                <h5>Basic Buttons</h5>
                <div class="buttons">
                    <button mat-button>Basic</button>
                    <button mat-button color="primary">Primary</button>
                    <button mat-button color="accent">Accent</button>
                    <button mat-button color="accent">Accent</button>
                    <button mat-button color="warn">Warn</button>
                    <button mat-button disabled>Disabled</button>
                    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
                </div>
            </mat-card>
            <mat-card>
                <h5>Raised Buttons</h5>
                <div class="buttons">
                    <button mat-raised-button>Basic</button>
                    <button mat-raised-button color="primary">Primary</button>
                    <button mat-raised-button color="accent">Accent</button>
                    <button mat-raised-button color="warn">Warn</button>
                    <button mat-raised-button disabled>Disabled</button>
                    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
                </div>
            </mat-card>
        </div>
        <div class="row">
            <mat-card>
                <h5>Stroked Buttons</h5>
                <div class="buttons">
                    <button mat-stroked-button>Basic</button>
                    <button mat-stroked-button color="primary">Primary</button>
                    <button mat-stroked-button color="accent">Accent</button>
                    <button mat-stroked-button color="warn">Warn</button>
                    <button mat-stroked-button disabled>Disabled</button>
                    <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
                </div>
            </mat-card>
            <mat-card>
                <h5>Flat Buttons</h5>
                <div class="buttons">
                    <button mat-flat-button>Basic</button>
                    <button mat-flat-button color="primary">Primary</button>
                    <button mat-flat-button color="accent">Accent</button>
                    <button mat-flat-button color="warn">Warn</button>
                    <button mat-flat-button disabled>Disabled</button>
                    <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
                </div>
            </mat-card>
        </div>
        <div class="row">
            <mat-card>
                <h5>Icons Buttons</h5>
                <div class="buttons">
                    <button mat-icon-button>
                        <mat-icon>home</mat-icon>
                    </button>
                    <button mat-icon-button color="primary">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <button mat-icon-button color="accent">
                        <mat-icon>settings</mat-icon>
                    </button>
                    <button mat-icon-button color="warn">
                        <mat-icon>check</mat-icon>
                    </button>
                    <button mat-icon-button color="warn">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button mat-icon-button disabled>
                        <mat-icon>login</mat-icon>
                    </button>
                </div>
            </mat-card>
            <mat-card>
                <h5>Fab Buttons</h5>
                <div class="buttons">
                    <button mat-fab>
                        <mat-icon>home</mat-icon>
                    </button>
                    <button mat-fab color="primary">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <button mat-fab color="accent">
                        <mat-icon>settings</mat-icon>
                    </button>
                    <button mat-fab color="warn">
                        <mat-icon>check</mat-icon>
                    </button>
                    <button mat-fab color="warn">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button mat-fab disabled>
                        <mat-icon>login</mat-icon>
                    </button>
                </div>
            </mat-card>
        </div>
        <div class="row">
            <mat-card>
                <h5>Fab Buttons</h5>
                <div class="buttons">
                    <button mat-mini-fab>
                        <mat-icon>home</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <button mat-mini-fab color="accent">
                        <mat-icon>settings</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn">
                        <mat-icon>check</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button mat-mini-fab disabled>
                        <mat-icon>login</mat-icon>
                    </button>
                </div>
            </mat-card>
            <mat-card>
                <h5>Spinner Button</h5>
                <div class="buttons">
                    <button mat-icon-button>
                        <mat-icon>
                          <mat-spinner diameter="20"></mat-spinner>
                        </mat-icon>
                      </button>
                      <button mat-raised-button color="primary">
                        Loading
                        <mat-icon>
                          <mat-spinner color="accent" diameter="15"></mat-spinner>
                        </mat-icon>
                      </button>
                      <button mat-flat-button color="accent">
                        <p>Loading</p>
                        <mat-icon>
                          <mat-spinner color="warn" diameter="15"></mat-spinner>
                        </mat-icon>
                      </button>
                      <button mat-mini-fab color="warn">
                        <mat-icon>
                          <mat-spinner color="accent" diameter="20"></mat-spinner>
                        </mat-icon>
                      </button>
                    <button mat-stroked-button color="accent">
                        Loading
                      <mat-icon>
                        <mat-spinner color="accent" diameter="15"></mat-spinner>
                      </mat-icon>
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
</div>