<div class="wrapper">
    <div class="container">
        <a class="box" routerLink="/promise">
            Promise
        </a>
        <a class="box" routerLink="/async-await">
            Async/Await
        </a>
        <a class="box" routerLink="/from-event">
            From Event
        </a>
        <a class="box" routerLink="/interval-timer">
            Interval-Timer
        </a>
        <a class="box" routerLink="/of-from">
            Of-From
        </a>
        <a class="box" routerLink="/promise">
            Promise
        </a>
        <a class="box" routerLink="/promise">
            Promise
        </a>
    </div>
</div>