<div class="wrapper">
    <div class="container">
        <a class="box" routerLink="/promise">
            Promise
        </a>
        <a class="box" routerLink="/async-await">
            Async/Await
        </a>
        <a class="box" routerLink="/from-event">
            From Event
        </a>
        <a class="box" routerLink="/interval-timer">
            Interval-Timer
        </a>
        <a class="box" routerLink="/of-from">
            Of-From
        </a>
        <a class="box" routerLink="/observable">
            Observable
        </a>
        <a class="box" routerLink="/map">
            Map
        </a>
        <a class="box" routerLink="/filter">
            Filter
        </a>
        <a class="box" routerLink="/subject">
            Subject
        </a>
        <a class="box" routerLink="/concat">
            Concat
        </a>
        <a class="box" routerLink="/merge">
            Merge
        </a>
        <a class="box" routerLink="/mergeMap">
            MergeMap
        </a>
        <a class="box" routerLink="/concatMap">
            ConcatMap
        </a>
    </div>
</div>