<div class="wrapper">
    <button (click)="toggle()">Open</button>
    <div class="heading">
        <h3>Lorem ipsum dolor sit amet.</h3>
    </div>
    <div class="discription" [@openClose]="isOpen ? 'open':'close'">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, culpa. Expedita est saepe nostrum exercitationem, harum praesentium soluta minima, dicta ex distinctio modi alias recusandae vero aliquid. Blanditiis, eos corporis?</p>
    </div>
    <a routerLink="/">Back</a>
</div>