<div class="wrapper">
    <h3 class="left">Buttons</h3>
    <mat-divider></mat-divider>
    <div class="options">
        <div class="row">
            <mat-card>
                <h5>Single Toggle</h5>
                <div class="button-toggle">
                    <mat-button-toggle #mytoggle>{{ mytoggle.checked ? 'Active' : 'Inactive'}}</mat-button-toggle>
                </div>
            </mat-card>
            <mat-card>
                <h5>Raised Buttons</h5>
                <div class="buttons-toggle">

                </div>
            </mat-card>
        </div>
    </div>
</div>