.left{
    text-align: left;
    padding: 10px;
}

.wrapper{
    width: 80%;
    margin: auto;
}

.options{
    padding: 20px;
}

.row{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}

a{
    text-decoration: none;
}

mat-card{
    width: 48%;
    padding: 1rem;
    margin-bottom: 1rem;
}

mat-card h5{
    margin-bottom: 0.4rem;
}