<div class="wrapper">
    <h3 class="left">Buttons</h3>
    <mat-divider></mat-divider>
    <div class="options">
        <div class="row">
            <mat-card>
                <h5>Single Toggle</h5>
                <div class="button-toggle">
                    <mat-button-toggle #mytoggle>{{ mytoggle.checked ? 'Active' : 'Inactive'}}</mat-button-toggle>
                </div>
            </mat-card>
            <mat-card>
                <h5>Single Selection</h5>
                <div class="buttons-toggle">
                    <mat-button-toggle-group name="favColor">
                        <mat-button-toggle value="red">Red</mat-button-toggle>
                        <mat-button-toggle value="yellow">Yellow</mat-button-toggle>
                        <mat-button-toggle value="green">Green</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </mat-card>
            <mat-card>
                <h5>Multiple Selection</h5>
                <div class="buttons-toggle">
                    <mat-button-toggle-group name="favColor" multiple>
                        <mat-button-toggle value="red">Red</mat-button-toggle>
                        <mat-button-toggle value="yellow">Yellow</mat-button-toggle>
                        <mat-button-toggle value="green">Green</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </mat-card>
        </div>
    </div>
</div>