.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(105, 108, 131);
}

.student-table{
    width: 80%;
    height: 80%;
    background-color: rgb(72, 74, 90);
    padding: 3rem;
    color: #ffffff;
    overflow-y: scroll;
    height: 80vh;
}

.filters{
    display: flex;
    justify-content: space-between;
}

.heading{
    background-color: rgb(44, 106, 96);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgb(234, 242, 246);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(44, 106, 96);
    border-radius: 10px;
}

table{
    border-collapse: collapse;
    width: 100%;
    
}

table,tr,th,td{
    border: 2px solid rgb(148, 173, 169);
}
.heading th{
    border:none;
}

th,td{
    padding:6px 12px;
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.insert-button{
    padding: 6px 12px;
    background-color: rgb(17, 161, 17);
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 5px;
}

.insert-button i{
    margin-right: 5px;
}

table input,table select{
    width: 100%;
    max-width: fit-content;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 5px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 1.5rem;
}

.button-td{
    text-align: center;
    margin: 0 !important;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}


.gender-filter select{
    padding: 5px 0px;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 5px;
}

#gender{
    width: 100px;
}