<div class="wrapper">
    <h3 class="left">Badges</h3>
    <mat-divider></mat-divider>
    <div class="options">
       <mat-card>
        <h5>Badges</h5>
        <div class="options">
            <p class="badge" matBadge="4" matBadgeOverlap="false" >Text with a badge</p>
            <p class="badge" matBadge="1" matBadgeSize="large" >Text with large badge</p>
            <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
                Action
            </button>
        </div>
       </mat-card>
    </div>
</div>